<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2><%= __('contact_us') %></h2>
                    <div class="breadcrumb-option">
                        <a href="/"><i class="fa fa-home"></i> <%= __('home') %></a>
                        <span><%= __('contact_us') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section Begin -->

<!-- Contact Section Begin -->
<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <section class="cd-products-comparison-table">
                <header>
                    <h2>Compare Models</h2>
        
                    <div class="actions">
                        <a href="#0" class="reset">Reset</a>
                        <a href="#0" class="filter">Filter</a>
                    </div>
                </header>
        
                <div class="cd-products-table">
                    <div class="features">
                        <div class="top-info">Models</div>
                        <ul class="cd-features-list">
                            <li>Price</li>
                            <li>Customer Rating</li>
                            <li>Resolution</li>
                            <li>Screen Type</li>
                            <li>Display Size</li>
                            <li>Refresh Rate</li>
                            <li>Model Year</li>
                            <li>Tuner Technology</li>
                            <li>Ethernet Input</li>
                            <li>USB Input</li>
                            <li>Scart Input</li>
                        </ul>
                    </div> <!-- .features -->
                    
                    <div class="cd-products-wrapper">
                        <ul class="cd-products-columns">
                            <% result.forEach(function(row) { %>
                            <li class="product">
                                <div class="top-info">
                                    <div class="check"></div>
                                    <img src="./img/product.png" alt="product image">
                                    <h3>Sumsung Series 6 J6300</h3>
                                </div> <!-- .top-info -->
        
                                <ul class="cd-features-list">
                                    <li>$600</li>
                                    <li class="rate"><span>5/5</span></li>
                                    <li>1080p</li>
                                    <li>LED</li>
                                    <li>47.6 inches</li>
                                    <li>800Hz</li>
                                    <li>2015</li>
                                    <li>mpeg4</li>
                                    <li>1 Side</li>
                                    <li>3 Port</li>
                                    <li>1 Rear</li>
                                </ul>
                            </li> <!-- .product -->
                            <% }) %>
                        </ul> <!-- .cd-products-columns -->
                    </div> <!-- .cd-products-wrapper -->
                    
                    <ul class="cd-table-navigation">
                        <li><a href="#0" class="prev inactive">Prev</a></li>
                        <li><a href="#0" class="next">Next</a></li>
                    </ul>
                </div> <!-- .cd-products-table -->
            </section> <!-- .cd-products-comparison-table -->
        </div>
    </div>
</section>
<!-- Contact Section End -->